* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #EEEEF7;
    line-height: 1.5;
}

/*header*/

header {
  background-color: #32343D;
}

h1 {
  background-color: #92CBCE;
  color: 212b42;
  font-size: 35px;
  margin: 15px 15px 15px 0px;
  padding-right: 15px;
  padding-left: 45px;
  display: inline-block;
}

nav {
  background-color: #32343D;
  padding-top: 10px;
  margin-right: 30px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}



ul {
  list-style-type: none;
}

ul li {
  display: inline-block;
  margin-left: 25px;
  margin-top: 20px;
  border-bottom-style: groove;
  border-color: #92CBCE;
}


li a {
  border-bottom: 1px #EEEEF7;
  font-size: 20px;
  padding: 10px;
}

a {
    text-decoration: none;
    color: #92CBCE;
}


li:hover {
  text-shadow: 1px 1px 2px black, 0 0 25px #92CBCE, 0 0 5px #235a69;
  color:#92CBCE;
}

nav::after {
    clear: both;
}

/*end of header*/

/*hero section*/

.hero-banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/02-hero-bg.jpg);
  position: relative;
  height: 200px;
}

.hero-banner h2 {
  position: absolute;
  right: 10%;
  bottom: 10%;
  background-color: #92CBCE;
  color: 212b42;
  padding: 0 5px 0 5px;
  font-size: 30px;
 }

 /*end of hero section*/


 /*main section -flex*/
main {
    display: flex;
    flex-direction: column;
    margin: 0 10% 0 10%;

}

.page-section {
    display: flex;
    text-align: right;
}

.header {
    position: relative;
    margin: 15px;
    padding: 10px;
    width: 1fr;
    color: #32343D;
    text-align: right;
    border-right: solid #32343D;
}

.info {
    width: 3fr;
    height: fit-content;
}

p {
    text-align: justify;
}

.header h2 {
    margin: 5px;
    width: 100px;
    font-size: 30px;
}

/*work section - grid -start*/

#work-info {
    display: grid;
    width: 1800px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 2.4fr 1fr 1fr;
    grid-template-areas: 
    "grid-img1 grid-img1"
    "grid-img2 grid-img3"
    "grid-img4 grid-img5";
    margin: 20px 0 20px 0;
    gap: 5px;
}

#grid-img1 {
    grid-area: grid-img1;
    background-image: url(../images/02-portfolio-2.jpg);
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 600px;
    height: 300px;
    border: #92CBCE solid;
}

#grid-img1 h3 {
    margin-top: 215px;
    text-align: left;
    width: 160px;
}

#grid-img2, #grid-img3, #grid-img4, #grid-img5 {
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    border: #92CBCE solid;
}

#grid-img2 h3, #grid-img3 h3, #grid-img4 h3, #grid-img5 h3 {
    margin-top: 40px;
    text-align: left;
    width: 160px;
} 

#grid-img2 {
    grid-area: grid-img2;
    background-image: url(../images/02-portfolio-1.jpg);
}

#grid-img3 {
    grid-area: grid-img3;
    background-image: url(../images/02-portfolio-3.jpg);
}

#grid-img4 {
    grid-area: grid-img4;
    background-image: url(../images/02-portfolio-4.jpg);
}

#grid-img5 {
    grid-area: grid-img5;
    background-image: url(../images/Horiseon_wabpage.png);
}

a h3 {
    font-size: 20px;
    position: absolute;
    background-color: #92CBCE;
    padding: 0 5px 0 5px;
    margin-top: 35px;
    color: #32343D;
  }


/*work section - grid - end*/

/*footer*/

footer ul {
   margin: 40px 0 0 5%;
}



/*footer - end*/
  
/*screen-fit*/

@media only screen and (max-width: 1000px) {

    header nav {
        margin-left: auto;
    }
  }

@media only screen and (max-width: 600px) {
    header {
        position: static;
        display: inline-block;
        width: 100%;
    }

    #work-info {
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
      "grid-img1"
      "grid-img1"
      "grid-img2" 
      "grid-img3"
      "grid-img4" 
      "grid-img5";
      height: fit-content;
    }

    p {
        width: fit-content;
    }

    #grid-img1 h3, #grid-img2 h3, #grid-img3 h3, #grid-img4 h3, #grid-img5 h3 {
        margin: auto;
    }

    #grid-img1 {
       height: 200px;
       width: 100px;
    }
  
    footer {
       display: inline-flex;
    }

    footer ul {
       margin: auto;
    }

